<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177241203978-0fue0i6tih6k02na2afvghugaeipfdeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177241203978-0fue0i6tih6k02na2afvghugaeipfdeo</string>
	<key>API_KEY</key>
	<string>AIzaSyDJFFVZnBYU5OpTrzsiap86otHTZt_dDqM</string>
	<key>GCM_SENDER_ID</key>
	<string>177241203978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.vieclam24h</string>
	<key>PROJECT_ID</key>
	<string>vieclam24h-3d4e1</string>
	<key>STORAGE_BUCKET</key>
	<string>vieclam24h-3d4e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177241203978:ios:eafed3fa9778d2842ac6f3</string>
</dict>
</plist>